<div class="d-flex" style="height: 1200px;width: 1250px;margin: 0 auto;">
  {{>admin-sidebar route="tweets"}}
  <div class="col-9 admin-tweets">
    <div class="home-header">
      推文清單
    </div>
    <div class="admin-main align-content-start">
      {{#each tweets}}
      <div class="d-flex admin-each-tweet border-bottom" style="padding: 16px 0;">
        <div id="tweet-icon">
        <img src="{{#if this.User.avatar}} {{this.User.avatar}} {{else}}/images/icon/User Photo.png{{/if}}" alt="" class="user-avatar">
        </div>
        <div id="tweet-right" style="width: 950px">
          <div class="tweets-header">
            <span class="card-title tweets-name">{{this.User.name}}</span>
            <span class="tweets-account"> @{{this.User.account}} ．{{relativeTimeFromNow this.createdAt}}</span>
            <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST" style="display: inline">
              <button type="submit" class="btn-close float-end"
                style="height: 15px;width: 15px;padding: 0;margin: 0 15px 0 0;"
                onclick="return confirm(`確定要刪除此則推文嗎？`)">
              </button>
            </form>
          </div>
          <div class="tweets-content">
            <p>
              {{this.description}}
            </p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
