<div class="card-home">
  <div class=" home-header">
    首頁
  </div>
  <div class="main-top">
    <img src="{{#if user.avatar}} {{user.avatar}} {{else}}/images/icon/User Photo.png{{/if}}"
      class="user-avatar">
    <div class="">
      <form action="/tweets" method="POST" class="form">
        <textarea style="resize:none;width:400px;" type="text" name="description" id="description"
          placeholder="有什麼新鮮事？" oninput="checkLength(this)" required></textarea>
        <div class="text-end">
          <span id="limit-count" style="color:#C4C4C4;">
            0/140
          </span>
          <button type="submit" class="btn-sml">推文</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="home" style="height: calc(100vh - 276px); max-height: calc(100vh - 276px); overflow-y: auto">
  {{#each Tweets}}
  {{>reply-modal user=this.User tweet=this User=../currentUser}}
  <div class="main-bottom d-flex border-bottom" style="padding: 16px 0">
    <div id="tweet-icon">
      <a href="/users/{{this.User.id}}/tweets">
        {{#if this.User.avatar}}
        <img src="{{this.User.avatar}}" alt="avatar" class="user-avatar">
        {{else}}
        <img src="/images/icon/User Photo.png" alt="avatar" class="user-avatar">
        {{/if}}</a>
    </div>
    <div id="tweet-right" style="width: 500px">
      <div class="tweets-header" onclick="window.open('/tweets/{{this.id}}/replies','_self');" style="cursor: pointer;">
        {{this.User.name}}
        <span class="tweets-account"> @{{this.User.account}} ．{{relativeTimeFromNow this.createdAt}}</span>
      </div>
      <div class="tweets-content" onclick="window.open('/tweets/{{this.id}}/replies','_self');" style="cursor: pointer;">
        <a href="/tweets/{{this.id}}/replies" id="toReply" class="card-text">
          <span
            style="white-space: pre-line;overflow:hidden;word-break:break-word;margin-right:10px;">{{this.description}}</span>
        </a>
      </div>

      <div class="actions d-flex justify-content-between">
        <div class="d-flex reply">
          <button data-bs-toggle="modal" data-bs-target="#reply-modal-{{this.id}}">
            <img src="/images/basic/white/reply.svg" alt="replies" style="width:16px; height: 16px">
          </button>
          <span style="line-height: 14px; font-size:14px; font-weight:600; color: #6C757D;">{{this.repliesCount}}</span>
        </div>
        <div class="d-flex like">
          {{#if this.isLiked}}
          <form action="/tweets/{{this.id}}/unlike" method="post">
            <button type="submit">
              <img src="/images/basic/isliked.svg" alt="like" style="width:16px; height: 16px">
            </button>
          </form>
          {{else}}
          <form action="/tweets/{{this.id}}/like" method="post">
            <button type="submit">
              <img src="/images/basic/white/like.svg" alt="like" style="width:16px; height: 16px">
            </button>
          </form>
          {{/if}}
          <span style="line-height: 14px; font-size:14px; font-weight:600; color: #6C757D;">{{this.likesCount}}</span>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
