<div class="card-home">
  <div class="home-header-sec">
    <div class="following-header">
      <a href="javascript:history.back()"><img src="/images/basic/back.svg" class="back-icon" alt=""></a>
      <span class="personal-name">{{user.name}}</span>
      <p class="text-secondary">{{user.tweetsCount}} 推文</p>
    </div>
  </div>
  <div class="profile-body">
    <div class="profile-cover">
      <img src="{{#if user.cover}} {{user.cover}} {{else}}/images/modal-cover.png{{/if}}" alt="cover">
    </div>
    <div class="profile-avatar">
      <img src="{{#if user.avatar}} {{user.avatar}} {{else}}/images/icon/User Photo.png{{/if}}"
        class="profileImg">
      {{#ifCond user.id currentUser.id}}
      <button type="button" class="profile-edit-btn" id="editButton"
        onclick="handleEditClick({{{user.id}}})">編輯個人資料</button>
      {{else}}
      <div class="profile-items">
        <div class="profile-icons">
          <a href="#" class="iconForOthers"><img src="/images/basic/white/message.svg" class="iconImg" alt=""></a>
          <a href="#" class="iconForOthers"><img src="/images/basic/white/noti.svg" class="iconImg"></a>
        </div>
        {{#if user.isFollowed}}
        <form action="/followships/{{user.id}}?_method=DELETE" method="POST">
          <button type="submit" name="id" value="{{user.id}}" style="margin-right:5px;"
            class="following-btn">正在跟隨</button>
        </form>
        {{else}}
        <form action="/followships" method="POST">
          <button type="submit" name="id" value="{{user.id}}" style="margin-right:5px;"
            class="follow-btn">跟隨</button>
        </form>
        {{/if}}
      </div>
      {{/ifCond}}
    </div>
  </div>
  <div class="profile-context">
    <span class="profile-name">{{user.name}}</span>
    <span class="tweets-account">@{{user.account}}</span>
    <p class="profile-intro">
      {{user.introduction}}
    </p>
    <div class="follow-ship">
      <a href="/users/{{user.id}}/followings">
        <p><span>{{user.followingCount}}個</span>跟隨中</p>
      </a>
      <a href="/users/{{user.id}}/followers">
        <p><span>{{user.followerCount}}位</span>跟隨者</p>
      </a>
    </div>
  </div>
</div>
