<div class="d-flex" style="height: 1200x;width:1250px;margin: 0 auto;">
    {{>left-sidebar}}
    <div class="col-6 top">
      <div class="card-home">
        <div class="home-header">
          <a href="javascript:history.back()"><img src="/images/basic/back.svg" alt="" class="back-icon"></a>
          推文
        </div>
        <div class="tweetAndReply">
          <div class="tweets-box-sec">
            <img src="{{#if tweet.User.avatar}} {{tweet.User.avatar}} {{else}}/images/icon/User Photo.png{{/if}}"
              class="user-avatar">
            <div class="tweets-header-thrd">
              <p class="tAR-name">{{tweet.User.name}}</p>
              <p class="tAR-account">
                @{{tweet.User.account}}
              </p>
            </div>
          </div>
          <div class="tweets-content-sec">
            {{tweet.description}}
            <p class="tweets-account text-end" style="padding-right:30px">
              {{relativeTimeOtherType tweet.createdAt}}
            </p>
          </div>
          <div class="tweets-mid">
            <p><span style="font-family: Montserrat; font-weight:bold;">{{tweet.repliesCount}}</span> 回覆</p>
            <p><span style="font-family: Montserrat; font-weight:bold;">{{tweet.likesCount}}</span> 喜歡次數</p>
          </div>
          <div class="tweets-icons-lar">
            <a href="#" data-bs-toggle="modal" data-bs-target="#reply-modal-{{tweet.id}}" id="reply-button"><img
                src="/images/basic/white/reply.svg"></a>
            {{!--like開關 --}}
            {{#ifCond tweet.isLiked 0}}
            <form action="/tweets/{{tweet.id}}/like" method="POST">
              <label for="" style="display:inline-flex;font-size:25px">
                <input type="image" style="width:26px;" src="/images/basic/white/like.svg">
              </label>
            </form>
            {{else}}
            <form action="/tweets/{{tweet.id}}/unlike" method="POST">
              <label for="" style="display:inline-flex;font-size:25px;">
                <input type="image" style="width:26px;" src="/images/basic/isliked.svg">
              </label>
            </form>
            {{/ifCond}}
            {{this.likesCount}}
          </div>
        </div>
        <div class="reply-box">
          {{!-- reply card --}}
          {{#each replies}}
          <div class="reply-card">
            <div>
              <a class="card-title tweets-name" href="/users/{{this.User.id}}/tweets">
                <img src="{{#if this.User.avatar}} {{this.User.avatar}} {{else}}/images/icon/User Photo.png{{/if}}"
                  class="user-avatar">
              </a>
            </div>
            <div class="tweets-box-main">
              <div class="tweets-header">
                <span class="card-title tweets-name">{{this.User.name}}</span>
                <span class="tweets-account">
                  @ {{this.User.account}}・{{relativeTimeFromNow this.createdAt}}</span>
                <p class="tweets-account">回覆
                  <a class="card-title tweets-name" href="/users/{{../tweet.User.id}}/tweets">
                    <span style="color: #FF6600;">@ {{../tweet.User.account}}
                    </span>
                  </a>
                </p>
              </div>
              <div class="tweets-content">
                <p>
                  {{this.comment}}
                </p>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{> right-sidebar}}
</div>

{{!-- 這是modal-reply --}}
{{>reply-modal user=tweet.User User=currentUser}}
